# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/

# Builds / dist
build/
build*/
dist/
dist_*/
*.spec

# Logs
logs/
*.log

# Test artifacts
Test Results/
htmlcov/
.coverage
coverage.xml
converted_logs/
TraceX/

# IDE
.vscode/
.idea/

# updates
updates/
*.bak
